html {
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Futura";
}

.mask-1 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.75;
    z-index: -1;
}

.leftzone {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 70%;
    min-height: 100%;
    opacity: 0;
    z-index: 1;
}
#field {
    position:relative;
    width 80%;
    float:inherit;
    height:100%;
    z-index:-1;
}
#simple {
    position:relative;
    font-size: 3em;
    opacity: 0.9;
}

#clock {
    font-size: 10em;
    opacity: 0.9;
}

#sidebar {
    width: 10%;
    float: right;
    height: 100%;
    margin-right: 5%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 40px auto;
}

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered {
    position: relative;
    display: inline-block;
    width: 70%;
    padding: 1em;
}

.links {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    font-size: 1em;
    opacity: 0.9;
}

.links:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.links-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.links-content div {
    display: table;
    width: 100%;
    height: 100%;
}

.links-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

#google {
    background-color: #fbbc05;
}

#facebook {
    background-color: #3b5998;
}

#youtube {
    background-color: #e52d27;
}

#instagram {
    background-color: #3f729b;
}

#naver {
    background-color: #23b300;
}

#github {
    background-color: #151013;
}